:root{
  --color-primary: #0F141C;
  --color-secondary: #1A2230;
  
  --accent-primary: #F3CD4B;
  --accent-secondary: #00F0FF;
  --accent-thirdly: #45a29e;

  --text-primary: #E2E8F0;


  /* Pokemon Type Colors */
  --type-normal:   #A8A77A;
  --type-fire:     #EE8130;
  --type-water:    #6390F0;
  --type-electric: #F7D02C;
  --type-grass:    #7AC74C;
  --type-ice:      #96D9D6;
  --type-fighting: #C22E28;
  --type-poison:   #A33EA1;
  --type-ground:   #E2BF65;
  --type-flying:   #A98FF3;
  --type-psychic:  #F95587;
  --type-bug:      #A6B91A;
  --type-rock:     #B6A136;
  --type-ghost:    #735797;
  --type-dragon:   #6F35FC;
  --type-dark:     #705746;
  --type-steel:    #B7B7CE;
  --type-fairy:    #D685AD;
}

html,
body,
#root{
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
}

body{
  background: var(--color-primary);
  color: var(--text-primary);
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

.main-content{
  flex: 1;
  padding-top: 200px;
}